---
http_interactions:
- request:
    method: put
    uri: https://api.channel.io/open/v3/users/@56201
    body:
      encoding: UTF-8
      string: '{"profile":{"name":"itdaa tester","mobileNumber":"+8201043241618","email":"foo@bar.com"}}'
    headers:
      x-access-key:
      - 5f0c00d1a5a339312d6f
      x-access-secret:
      - 39b09f76770ff3a229134bf2fbe0ba37
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"user":{"id":"5f0c1435e68c92da02fd","channelId":"28730","memberId":"56201","name":"itdaa
        tester","profile":{"name":"itdaa tester","mobileNumber":"+821043241618","email":"foo@bar.com"},"alert":0,"unread":0,"blocked":false,"unsubscribed":false,"hasChat":false,"hasPushToken":false,"createdAt":1594627125944,"updatedAt":1594627125944,"version":1,"member":true,"email":"foo@bar.com","avatarUrl":"https://cf.channel.io/avatar/emoji/cherries.d7f9d2.png","contact":true,"mobileNumber":"+821043241618","systemLanguage":"en"}}'
  recorded_at: Mon, 13 Jul 2020 08:01:43 GMT
recorded_with: VCR 6.0.0
